{% extends 'main.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <h1 class="text-blue-600 text-2xl font-bold mb-6">Edit '{{ room.name }}</h1>
        <form action="" method="post" class="shadow-lg p-6 rounded-lg bg-gray-100">
            {% csrf_token %}
            <div class="mb-4">
                {{ form.as_p }}
            </div>
            <input type="submit" value="Submit" class="w-full bg-blue-600 text-white py-3 rounded-lg hover:bg-blue-700 transition">
        </form>
    {% else %}
        <div class="bg-yellow-100 text-yellow-800 p-4 rounded-md text-center mt-6">
            <p>You need to be logged in to access this page.</p>
            <a href="{% url 'login' %}" class="bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-700 transition mt-3 inline-block">Login</a>
        </div>
    {% endif %}
{% endblock content %}